coverage
flake8
pytest
sphinx
twine
pre-commit
black
nbstripout

ipython
matplotlib
numpydoc
sphinx-copybutton
sphinx_rtd_theme
myst-parser # add markdown support
sphinx-autobuild

sphinxcontrib-bibtex
shibuya

pip
